---
import Hero from '../assets/hero.png';
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
---

<Layout title="A page">
  <h1>A page</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo laborum
    debitis culpa adipisci deserunt accusamus ullam ex esse possimus repellendus
    qui dolorum odit, omnis ipsam asperiores dolor molestias est totam.
  </p>
  <a href="/b">page B </a>
  <Image transition:name="hero" src={Hero} alt="some image" width={200} />
  <img src="/hero.png" alt="" transition:name="hero2" style="width:200px" />
</Layout>
